:root {
  --background: #fafafa;
  --color: #181818;
}

.dark {
  --background: #181818;
  --color: #fafafa;
}

html {
  will-change: background-color;
  background-color: var(--background);
  color: var(--color);
  transition: background-color 0.3s ease-in-out;
}
